$color-1: #0b0e0d;
$color-2: #ccbfa6;
$color-3: #a5855b;
$color-4: #848c8c;
$color-5: #1f2625;
$copper: #b87333;
$silver: #d3d3d3;
@font-face {
  font-family: "font-1";
  src: url(../Style/CENTAUR.TTF);
}
$font-1: "font-1", sans-serif;
