@import "../Style/style.scss";

.Home {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  background: $color-4;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  position: relative;
  background: $color-1;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 8;

  h1 {
    color: $silver;
    margin: 0;
    //margin-left: 4%;
    padding-left: 4%;
    padding-bottom: 5px;
    font-size: 8vw;
    font-family: $font-1;
    width: 65%;

    border-bottom: 1px groove $copper;
    border-radius: 0px 0px 0px 0px;
  }
  .imgcontain {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    margin-top: 20px;
    border: 1px groove $copper;
    border-radius: 150px;

    .logo {
      width: 100%;
      z-index: 5;
      filter: drop-shadow(0px 0px 1px $silver);
    }
  }
}

main {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: $color-1;

  .select-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .line {
      position: absolute;
      height: 2.5px;
      width: 100%;
      border: 0.1px solid black;
      background: $copper;
      z-index: 0;
      box-shadow: 0px 6px 10px black;
    }
    .select {
      color: $color-1;
      width: 60%;
      text-align: center;
      padding: 5%;
      background: $color-2;
      border-radius: 15px;
      border: 2.5px solid $copper;
      z-index: 5;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 900;
      font-family: $font-1;
      box-shadow: 0px 6px 10px black;
    }
  }
}

footer {
  position: relative;
  height: 15%;
  background: $color-1;
  // z-index: 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
  }
  .Call {
    background: url(../Style/img/call.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 3px black);
  }
  .FB {
    background: url(../Style/img/fb.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 3px black);
  }
  .INSTA {
    background: url(../Style/img/insta.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 3px black);
  }
  .WHATS {
    background: url(../Style/img/whatsapp.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(2px 2px 3px black);
  }
}
